<footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger">IIC3103</strong>
				</span>
  <p class="no-margin">
    &copy; 2016 <strong>GRUPO 6</strong>. 1er semestre.
  </p>
</footer>