<aside class="sidebar-menu fixed">
  <div class="sidebar-inner scrollable-sidebar">
    <div class="main-menu">
      <ul class="accordion">
        <li class="menu-header">
          Main Menu
        </li>
        <li class="bg-palette1 active">
          <a id="inicio">
            <span class="menu-content block">
                <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
                <span class="text m-left-sm">Panel</span>
            </span>
            <span class="menu-content-hover block">
                PANEL
            </span>
          </a>
        </li>
        <li class="bg-palette2">
          <a id="orders">
            <span class="menu-content block">
                <span class="menu-icon"><i class="block fa fa-money fa-lg"></i></span>
                <span class="text m-left-sm">Órdenes de compra</span>
            </span>
            <span class="menu-content-hover block">
                Órdenes
            </span>
          </a>
        </li>
        <li class="bg-palette3">
          <a id="transactions">
            <span class="menu-content block">
                <span class="menu-icon"><i class="block fa fa-exchange fa-lg"></i></span>
                <span class="text m-left-sm">Transacciones</span>
            </span>
            <span class="menu-content-hover block">
                Transac
            </span>
          </a><!--
            <ul class="submenu bg-palette4">
              <li><a href="form_element.html"><span class="submenu-label">Form Element</span></a></li>
              <li><a href="form_validation.html"><span class="submenu-label">Form Validation</span></a></li>
              <li><a href="form_wizard.html"><span class="submenu-label">Form Wizard</span></a></li>
              <li><a href="dropzone.html"><span class="submenu-label">Dropzone</span></a></li>
            </ul>-->
        </li>
        <li class="bg-palette4" >
          <a id="invoices">
            <span class="menu-content block">
                <span class="menu-icon"><i class="block fa fa-file-o fa-lg"></i></span>
                <span class="text m-left-sm">Facturas</span>
            </span>
            <span class="menu-content-hover block">
                Facturas
            </span>
          </a>
      </ul>
    </div>
    <div class="sidebar-fix-bottom clearfix">
      <div class="user-dropdown dropup pull-left">
        <a class="dropdwon-toggle font-18" data-toggle="dropdown"><i class="ion-person-add"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a>
              Inbox
              <span class="badge badge-danger bounceIn animation-delay2 pull-right">1</span>
            </a>
          </li>
          <li>
            <a>
              Notification
              <span class="badge badge-purple bounceIn animation-delay3 pull-right">2</span>
            </a>
          </li>
          <li>
            <a class="sidebarRight-toggle">
              Message
              <span class="badge badge-success bounceIn animation-delay4 pull-right">7</span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a>Setting</a>
          </li>
        </ul>
      </div>
      <a class="pull-right font-18"><i class="ion-log-out"></i></a>
    </div>
  </div><!-- sidebar-inner -->
</aside>
