<% content_for :content do %>
<div class='row' style="text-align:center">
  <br>
  <br>
<h1> Hubo un error en su compra</h1>
<h3> Debe ingresar una dirección de despacho</h3>

<br>
<br>
<%=  link_to '< Volver a tienda', '/tienda/' %>

</div>
<% end %>
