<!DOCTYPE html>
<div class='row'>
  <div class= 'col-md-2'></div>
  <div class= 'col-md-6'>
<h1> Pago Exitoso </h1>
<h3> Datos de la boleta</h3>



<br>
<br>
<br>
<br>
<%=  link_to 'Volver a tienda 6commerce', '/tienda/' %>
  </div></div>
</div>
</html>
