
<div class="wrapper preload">
  <%= render "shared/top" %>
  <%= render "shared/sidebar" %>
  <%= yield :content %>
</div><!-- /wrapper -->
<%= render "shared/footer" %>
<a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>

